@model InventoryNatific.ViewModels.InventoryEditViewModel
@{
    ViewBag.Title = "InventorySave";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ValidationSummary()

<hr />

@if (Model.InventoryElement.Id == 0)
{
    <h2>Upload Product Inventory</h2>
}
else
{
    <h2>Edit Product Inventory</h2>
}


@using (Html.BeginForm("Save", "Inventory"))
{
    @Html.HiddenFor(i => i.InventoryElement.Id)

    <div class="form-group">
        @Html.LabelFor(i => i.InventoryElement.ProductId)
        @Html.DropDownListFor(i => i.InventoryElement.ProductId, new SelectList(Model.Products, "Id", "Name"), "Select Product", new { @class = "form-control" })
        @Html.ValidationMessageFor(i => i.InventoryElement.ProductId)
    </div>

    <div class="form-group">
        @Html.LabelFor(i => i.InventoryElement.Amount)
        @Html.TextBoxFor(i => i.InventoryElement.Amount, new { @class = "form-control" })
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
